@import "src/assets/css/variables";

.Component_SignIn {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__titleWrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-top: 70px;
    font-size: 36px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    color: white;
    text-align: center;
  }

  &__subtitle {
    font-size: 12px;
    font-family: Poppins;
    font-style: normal;
    color: white;
    text-align: center;
  }

  &__welcome {
    font-size: 24px;
    font-family: Poppins;
    font-style: normal;
    color: white;
    text-align: center;
    font-weight: 800;
  }

  &__contentWrapper {
    width: 90vw;
    padding: 16px;
    background: white;
    border-radius: 5px;
    margin-bottom: 24px;
  }

  &__inputsWrapper {
    margin-bottom: 40px;
  }

  &__linkWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
  }

  &__link {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 600;
    color: $primary;
  }
}
