@import '../assets/css/variables';

.Component_TabsList {
  display: flex;
  height: var(--app-height);
  //overflow-x: hidden;
  flex-direction: column;
  position: relative;

  &__tabContainer {
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
    background: transparent;
  }

  &__tabList {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    background-color: white;

  }

  &__tabItem {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0px;
    text-align: center;
    color: $grey_dark;



    &__active {
      color: $primary;
    }
  }
}
