@import "src/assets/css/variables";

.Component_AppHeader {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary_dark;

  &__name {
    color: white;
    font-size: 26px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
  }
}
