@import "src/assets/css/variables";

.Component_ButtonCustom {
  width: 100%;
  margin-bottom: 12px;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-size: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    color: white;
    text-align: center;
  }

  &__loadingWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
