@import "src/assets/css/variables";

.Component_ButtonCustom {
  width: 100%;
  &__buttonWrapperYellow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .ant-btn-round.ant-btn-lg  {
      font-size: 14px;
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase;
      color: white;

      height: 40px!important;
      //min-width: 100px;
      padding: 10px 20px;
      background: linear-gradient(130.76deg, #FABB03 17.01%, #f89c0a 84.88%);
      border-radius: 50px;
    }
  }

  &__buttonWrapperOrange {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .ant-btn-round.ant-btn-lg  {
      font-size: 14px;
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase;
      color: white;

      height: 40px!important;
      //min-width: 100px;
      padding: 10px 20px;
      background: linear-gradient(130.76deg, #f89c0a 17.01%, #f8850a 84.88%);
      border-radius: 50px;
    }
  }

}
.ant-btn-round.ant-btn-lg  {
  width: 100%;
}

.ant-btn:active {
  border-color: transparent!important;
}

.ant-btn:hover {
  border-color: transparent!important;
}

.ant-btn:focus {
  border-color: transparent!important;
}
