@import "src/assets/css/variables";

.Component-ButtonCustom {

  &__buttonWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .ant-btn-round.ant-btn-lg  {
    font-size: 40px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    color: white;

    height: 110px!important;
    min-width: 400px;
    padding: 10px 20px;
    background: linear-gradient(130.76deg, #81E4B5 17.01%, #35D98B 84.88%);
    border-radius: 50px;
  }
}
