@import "src/assets/css/variables";

.Component_InputCustom {

  &__inputWrapper {
    margin-bottom: 20px;
  }

  &__label {
    font-size: 12px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
  }

  .ant-input {
    font-size: 14px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;

  }

  .ant-input-lg {
    padding: 15px 20px;
    border-radius: 15px;
  }
}
.ant-input:focus, .ant-input-focused {
  border-color: $primary!important;
  box-shadow: 0 0 0 2px rgba(250, 187, 3, 0.5)!important;
}

.ant-input:hover {
  border-color: $primary!important;
}
