@import "src/assets/css/variables";

.Component-InputCustom {

  &__inputWrapper {
    margin-bottom: 20px;
  }

  &__label {
    font-size: 12px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
  }

  .ant-input {
    font-size: 14px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
  }

  .ant-input-lg {
    padding: 15px 20px;
  }
}
