@import "src/assets/css/variables";

.Component_ModalCustom {

  &__modalTitle {
    font-size: 20px;
    font-family: Poppins;
    font-weight: bold;
    font-style: normal;
  }

  &__modalContent {
    font-size: 14px;
    font-family: Poppins;
    font-style: normal;
  }


}

.ant-modal {
  //width: 800px!important;
  width: calc(100vw - 40px) !important;
  top: 60% !important;
}

.ant-modal-header {
  padding: 20px!important;
}

.ant-modal-close {
  padding: 0px!important;
}

.ant-modal-content {
  //border-radius: 20px!important;
}

.ant-modal-body {
  padding: 20px!important;
}

.ant-modal-footer {
  padding: 0px 20px 20px 20px!important;
  border: none!important;
}

.ant-modal-title {
  font-size: 14px!important;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
}

.ant-btn {
  font-size: 14px!important;
  height: 80px!important;
  padding: 5px 40px!important;
}

.ant-modal-close-x {
  font-size: 16px!important;
}
