@import "src/assets/css/variables";

.Component_Settings {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  //border-radius: 20px 20px 0 0;

  &__contentWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 75vh;
  }

  &__instruction {
    font-size: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
  }
}
