@import "src/assets/css/variables";

.Component-AppContent {

  .ant-tabs-nav-list {
    padding: 20px;
    margin: 0 auto;
  }

  .ant-tabs-tab {
    font-size: 40px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;

  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $primary_green;
    font-weight: bold;
    font-size: 40px;
    font-family: Work Sans;
    font-style: normal;
  }

  .ant-tabs-tab:hover {
    color: $primary_green;
  }

  .ant-tabs-ink-bar {
    background: $primary_green;
  }
}
