//// COLORS ////

//PRIMARY//
$primary: #f53557;
$primary_light: #FA6781;
$primary_lighter: #FF7A92;

//GREYS//
$grey_bg : #EAEFF0;
$grey_dark : #C4C4C4;
$grey_light : #FAFAFA;

//// FONTS ////
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&family=Open+Sans:wght@400;500;600;700&family=Roboto&family=Work+Sans:wght@400;500;600;700&display=swap);
